body{
    background-color: rgb(207, 230, 231);
    padding: 30px;
    margin: 20px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    color: rgb(69, 211, 69);
}
img{
    width: 350px;
    margin-bottom: 20px;
    margin-left: 25px;
    float: right;
     box-shadow: 0 6px 15px rgba(0,0,0,.25);
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}